In [172]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [108]:
#open the training data
df_train = pd.read_csv('datasets/heart_training_data.csv')

In [164]:
df_train.head()

,age,sex,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,target
0,58.0,0,2.0,105.0,240.0,0,0,154.0,1,0.6,1.0,0.0,1
1,60.0,0,3.0,150.0,240.0,0,1,171.0,0,0.9,2.0,0.0,1
2,67.0,0,0.0,106.0,223.0,1,1,142.0,0,0.3,2.0,2.0,1
3,29.0,1,1.0,130.0,204.0,0,0,202.0,0,0.0,2.0,0.0,1
4,35.0,1,0.0,126.0,282.0,0,0,156.0,1,0.0,2.0,0.0,0

In [163]:
df_train.drop('ID', axis=1, inplace=True)

In [160]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        219 non-null    float64
 1   sex        219 non-null    int64
 2   feature1   219 non-null    float64
 3   feature2   219 non-null    float64
 4   feature3   219 non-null    float64
 5   feature4   219 non-null    int64
 6   feature5   219 non-null    int64
 7   feature6   219 non-null    float64
 8   feature7   219 non-null    int64
 9   feature8   219 non-null    float64
 10  feature9   219 non-null    float64
 11  feature10  219 non-null    float64
 12  ID         219 non-null    int64
 13  target     219 non-null    int64
dtypes: float64(8), int64(6)
memory usage: 24.1 KB

In [159]:
df_train.isnull().sum()

age          0
sex          0
feature1     0
feature2     0
feature3     0
feature4     0
feature5     0
feature6     0
feature7     0
feature8     0
feature9     0
feature10    0
ID           0
target       0
dtype: int64

In [112]:
#age column
df_train['age'].describe()

count    213.000000
mean      53.774648
std        9.249473
min       29.000000
25%       46.000000
50%       54.000000
75%       60.000000
max       77.000000
Name: age, dtype: float64

In [113]:
age_median = df_train['age'].median()
df_train['age'].fillna(age_median, inplace=True)

In [114]:
#gender column
df_train['sex'].value_counts()

1         136
0          69
male        2
m           2
female      1
f           1
Name: sex, dtype: int64

In [115]:
df_train['sex'] = df_train['sex']

In [116]:
df_train.loc[df_train['sex'] == 'male', 'sex'] = '1'
df_train.loc[df_train['sex'] == 'm', 'sex'] = '1'
df_train.loc[df_train['sex'] == 'female', 'sex'] = '0'
df_train.loc[df_train['sex'] == 'f', 'sex'] = '0'

In [117]:
df_train['sex'].fillna(0, inplace=True)

In [118]:
df_train.loc[df_train['sex'] == '1', 'sex'] = 1
df_train.loc[df_train['sex'] == '0', 'sex'] = 0

In [119]:
df_train['sex'] = df_train['sex'].astype(np.int64)

In [156]:
#feature1
df_train['feature10'].describe()

count    211.000000
mean       0.658768
std        0.993865
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        4.000000
Name: feature10, dtype: float64

In [157]:
df_train.feature10.value_counts()

0.0    130
1.0     42
2.0     23
3.0     13
4.0      3
Name: feature10, dtype: int64

In [122]:
df_train['feature4'] = df_train['feature4'].str.lower()

In [123]:
df_train.loc[df_train['feature4'] == 'false', 'feature4'] = '0'
df_train.loc[df_train['feature4'] == 'f', 'feature4'] = '0'

In [142]:
df_train.loc[df_train['feature7'] == 'Yes', 'feature7'] = '1'
df_train.loc[df_train['feature7'] == 'Y', 'feature7'] = '1'
df_train.loc[df_train['feature7'] == 'N', 'feature7'] = '0'

In [124]:
#df_train[df_train['feature4']]
df_train.sample(10)

,age,sex,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,ID,target
83,49.0,0,1.0,134.0,271.0,0,1.0,162.0,0,0.0,NaN,0.0,302,1
210,56.0,1,0.0,125.0,249.0,1,0.0,144.0,1,1.2,1.0,1.0,966,0
128,43.0,0,0.0,132.0,341.0,1,0.0,136.0,1,3.0,1.0,0.0,176,0
74,67.0,0,2.0,115.0,564.0,0,0.0,160.0,0,1.6,1.0,0.0,381,1
185,41.0,0,1.0,126.0,306.0,0,1.0,163.0,0,0.0,2.0,0.0,651,1
179,59.0,0,0.0,174.0,249.0,0,1.0,143.0,1,0.0,1.0,0.0,697,0
23,35.0,1,0.0,126.0,282.0,0,0.0,156.0,1,0.0,2.0,0.0,770,0
0,58.0,0,2.0,105.0,240.0,0,0.0,154.0,1,0.6,1.0,0.0,253,1
166,51.0,0,0.0,130.0,305.0,0,1.0,142.0,1,1.2,1.0,0.0,691,0
99,42.0,1,0.0,136.0,315.0,0,1.0,NaN,1,1.8,1.0,0.0,928,0

In [125]:
df_train['feature1'].fillna(df_train['feature1'].median(), inplace=True)

In [126]:
df_train['feature2'].fillna(df_train['feature2'].median(), inplace=True)

In [127]:
df_train['feature3'].fillna(df_train['feature3'].median(), inplace=True)

In [128]:
df_train['feature4'].fillna('1', inplace=True)

In [129]:
df_train['feature4'] = df_train['feature4'].astype(np.int64)

In [130]:
df_train['feature5'].fillna(df_train['feature3'].mean(), inplace=True)

In [131]:
df_train['feature5'] = df_train['feature5'].astype(np.int64)

In [137]:
df_train['feature6'].fillna(df_train['feature6'].median(), inplace=True)

In [144]:
df_train['feature7'].fillna('1', inplace=True)

In [145]:
df_train['feature7'] = df_train['feature7'].astype(np.int64)

In [150]:
df_train['feature8'].fillna(df_train['feature8'].median(), inplace=True)

In [154]:
df_train['feature9'].fillna(df_train['feature9'].mean(), inplace=True)

In [158]:
df_train['feature10'].fillna(df_train['feature10'].median(), inplace=True)

In [166]:
features = df_train.drop('target', axis=1)
target = df_train['target']

In [167]:
features_train, features_valid, target_train, target_valid = train_test_split(features, target, 
                                                                              test_size=0.2, random_state=0)

In [168]:
print('Train set:',round(features_train.shape[0]/features.shape[0] * 100))
print('Valid set:', round(features_valid.shape[0]/features.shape[0] * 100))

Train set: 80
Valid set: 20

In [171]:
model = LogisticRegression(random_state=0, solver='liblinear')
model.fit(features_train, target_train)
valid_predictions = model.predict(features_valid)

In [173]:
accuracy= accuracy_score(target_valid, valid_predictions)
print(accuracy)

0.8409090909090909

In [174]:
print(valid_predictions)

[0 1 1 0 0 1 1 1 1 1 0 1 1 1 0 1 0 0 0 0 1 1 1 1 0 1 1 1 1 1 0 0 1 0 0 0 1
 0 1 1 1 0 0 1]