In [253]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [254]:
#open the training data
df_train = pd.read_csv('datasets/heart_training_data.csv')

In [255]:
df_train.head()

,age,sex,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,ID,target
0,58.0,NaN,2.0,105.0,240.0,0,0.0,154.0,1,0.6,1.0,0.0,253,1
1,60.0,0,3.0,150.0,240.0,0,1.0,171.0,0,0.9,2.0,0.0,333,1
2,67.0,0,0.0,106.0,223.0,NaN,1.0,142.0,0,0.3,2.0,2.0,496,1
3,29.0,m,1.0,130.0,204.0,0,0.0,202.0,0,0.0,2.0,0.0,446,1
4,35.0,1,0.0,126.0,282.0,0,0.0,156.0,1,0.0,2.0,0.0,289,0

In [256]:
df_train.drop('ID', axis=1, inplace=True)

In [257]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        213 non-null    float64
 1   sex        211 non-null    object
 2   feature1   212 non-null    float64
 3   feature2   212 non-null    float64
 4   feature3   212 non-null    float64
 5   feature4   213 non-null    object
 6   feature5   211 non-null    float64
 7   feature6   211 non-null    float64
 8   feature7   213 non-null    object
 9   feature8   212 non-null    float64
 10  feature9   212 non-null    float64
 11  feature10  211 non-null    float64
 12  target     219 non-null    int64
dtypes: float64(9), int64(1), object(3)
memory usage: 22.4+ KB

In [258]:
df_train.isnull().sum()

age          6
sex          8
feature1     7
feature2     7
feature3     7
feature4     6
feature5     8
feature6     8
feature7     6
feature8     7
feature9     7
feature10    8
target       0
dtype: int64

In [259]:
#age column
df_train['age'].describe()

count    213.000000
mean      53.774648
std        9.249473
min       29.000000
25%       46.000000
50%       54.000000
75%       60.000000
max       77.000000
Name: age, dtype: float64

In [260]:
age_median = df_train['age'].median()
df_train['age'].fillna(age_median, inplace=True)

In [261]:
#gender column
df_train['sex'].value_counts()

1         136
0          69
male        2
m           2
female      1
f           1
Name: sex, dtype: int64

In [262]:
#df_train['sex'] = df_train['sex']

In [263]:
df_train.loc[df_train['sex'] == 'male', 'sex'] = '1'
df_train.loc[df_train['sex'] == 'm', 'sex'] = '1'
df_train.loc[df_train['sex'] == 'female', 'sex'] = '0'
df_train.loc[df_train['sex'] == 'f', 'sex'] = '0'

In [264]:
df_train['sex'].fillna(0, inplace=True)

df_train.loc[df_train['sex'] == '1', 'sex'] = 1
df_train.loc[df_train['sex'] == '0', 'sex'] = 0

In [265]:
df_train['sex'] = df_train['sex'].astype(np.int64)

In [266]:
#feature1
df_train['feature10'].describe()

count    211.000000
mean       0.658768
std        0.993865
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        4.000000
Name: feature10, dtype: float64

In [267]:
df_train.feature10.value_counts()

0.0    130
1.0     42
2.0     23
3.0     13
4.0      3
Name: feature10, dtype: int64

In [268]:
df_train['feature4'] = df_train['feature4'].str.lower()

In [269]:
df_train.loc[df_train['feature4'] == 'false', 'feature4'] = '0'
df_train.loc[df_train['feature4'] == 'f', 'feature4'] = '0'

In [270]:
df_train.loc[df_train['feature7'] == 'Yes', 'feature7'] = '1'
df_train.loc[df_train['feature7'] == 'Y', 'feature7'] = '1'
df_train.loc[df_train['feature7'] == 'N', 'feature7'] = '0'

In [271]:
#df_train[df_train['feature4']]
df_train.sample(10)

,age,sex,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,target
0,58.0,0,2.0,105.0,240.0,0,0.0,154.0,1,0.6,1.0,0.0,1
24,58.0,0,0.0,130.0,197.0,0,1.0,131.0,0,0.6,1.0,0.0,1
212,42.0,1,0.0,136.0,315.0,0,1.0,NaN,1,1.8,1.0,0.0,0
49,55.0,0,0.0,128.0,205.0,0,2.0,130.0,1,2.0,NaN,1.0,0
190,60.0,1,0.0,130.0,206.0,0,0.0,NaN,1,2.4,1.0,2.0,0
23,35.0,1,0.0,126.0,282.0,0,0.0,156.0,1,0.0,2.0,0.0,0
89,70.0,1,0.0,130.0,322.0,0,0.0,109.0,0,2.4,1.0,3.0,0
88,43.0,1,0.0,120.0,177.0,NaN,0.0,120.0,1,2.5,1.0,0.0,0
44,57.0,1,0.0,150.0,276.0,0,0.0,NaN,1,0.6,1.0,1.0,0
104,42.0,1,2.0,NaN,240.0,1,1.0,194.0,0,0.8,0.0,0.0,1

In [272]:
df_train['feature1'].fillna(df_train['feature1'].median(), inplace=True)

In [273]:
df_train['feature2'].fillna(df_train['feature2'].median(), inplace=True)

In [274]:
df_train['feature3'].fillna(df_train['feature3'].median(), inplace=True)

In [275]:
df_train['feature4'].fillna('1', inplace=True)

In [276]:
df_train['feature4'] = df_train['feature4'].astype(np.int64)

In [277]:
df_train['feature5'].fillna(df_train['feature5'].mean(), inplace=True)

In [278]:
df_train['feature5'] = df_train['feature5'].astype(np.int64)

In [279]:
df_train['feature6'].fillna(df_train['feature6'].median(), inplace=True)

In [280]:
df_train['feature7'].fillna('1', inplace=True)

In [281]:
df_train['feature7'] = df_train['feature7'].astype(np.int64)

In [282]:
df_train['feature8'].fillna(df_train['feature8'].median(), inplace=True)

In [283]:
df_train['feature9'].fillna(df_train['feature9'].mean(), inplace=True)

In [284]:
df_train['feature10'].fillna(df_train['feature10'].median(), inplace=True)

In [285]:
features = df_train.drop('target', axis=1)
target = df_train['target']

In [286]:
features_train, features_valid, target_train, target_valid = train_test_split(features, target, 
                                                                              test_size=0.2, random_state=0)

In [287]:
print('Train set:',round(features_train.shape[0]/features.shape[0] * 100))
print('Valid set:', round(features_valid.shape[0]/features.shape[0] * 100))

Train set: 80
Valid set: 20

In [288]:
model = LogisticRegression(random_state=0, solver='liblinear')
model.fit(features_train, target_train)
valid_predictions = model.predict(features_valid)

In [289]:
accuracy= accuracy_score(target_valid, valid_predictions)
print(accuracy)

0.8181818181818182

In [290]:
print(valid_predictions)

[0 1 1 0 0 1 1 1 1 1 0 1 1 1 0 1 0 0 0 1 1 1 1 1 0 1 1 1 1 1 0 0 1 0 0 0 1
 0 1 1 1 0 0 1]

In [291]:
#opening test data
df_test = pd.read_csv('datasets/heart_test_data.csv')

In [292]:
df_test.head()

,age,sex,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,ID
0,44.0,1,2.0,140.0,235.0,0,0.0,180.0,0,0.0,2.0,0.0,531
1,57.0,1,2.0,150.0,168.0,0,1.0,174.0,0,1.6,2.0,0.0,636
2,59.0,1,0.0,110.0,239.0,0,0.0,142.0,NaN,1.2,1.0,1.0,884
3,64.0,NaN,0.0,128.0,263.0,0,1.0,105.0,1,0.2,1.0,1.0,266
4,71.0,0,2.0,110.0,265.0,NaN,0.0,130.0,NaN,0.0,2.0,1.0,900

In [293]:
df_test.drop('ID', axis=1, inplace=True)

In [294]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        90 non-null     float64
 1   sex        91 non-null     object
 2   feature1   92 non-null     float64
 3   feature2   90 non-null     float64
 4   feature3   91 non-null     float64
 5   feature4   91 non-null     object
 6   feature5   91 non-null     float64
 7   feature6   91 non-null     float64
 8   feature7   90 non-null     object
 9   feature8   91 non-null     float64
 10  feature9   91 non-null     float64
 11  feature10  93 non-null     float64
dtypes: float64(9), object(3)
memory usage: 8.9+ KB

In [295]:
#age column
df_test['age'].describe()

count    90.000000
mean     55.300000
std       9.135005
min      34.000000
25%      48.250000
50%      57.000000
75%      62.000000
max      76.000000
Name: age, dtype: float64

In [296]:
df_test['age'].fillna(df_train['age'].median(), inplace=True)

In [297]:
#gender
df_test['sex'].value_counts()

1       62
0       26
m        2
male     1
Name: sex, dtype: int64

In [298]:
df_test.loc[df_test['sex'] == 'male', 'sex'] = '1'
df_test.loc[df_test['sex'] == 'm', 'sex'] = '1'

In [299]:
df_test['sex'].fillna(0, inplace=True)

In [300]:
df_test['sex'] = df_test['sex'].astype(np.int64)

In [301]:
df_test['feature1'].fillna(df_test['feature1'].median(), inplace=True)

In [302]:
df_test['feature2'].fillna(df_test['feature2'].median(), inplace=True)

In [303]:
df_test['feature3'].fillna(df_test['feature3'].median(), inplace=True)

In [304]:
df_test['feature4'].describe()

count     91
unique     5
top        0
freq      77
Name: feature4, dtype: object

In [305]:
df_test['feature4'].value_counts()

0        77
1        10
false     2
FALSE     1
TRUE      1
Name: feature4, dtype: int64

In [306]:
df_test['feature4'] = df_test['feature4'].str.lower()

In [307]:
df_test.loc[df_test['feature4'] == 'false', 'feature4'] = '0'
df_test.loc[df_test['feature4'] == 'true', 'feature4'] = '1'

In [308]:
df_test['feature4'].fillna('1', inplace=True)

In [309]:
df_test['feature4'] = df_test['feature4'].astype(np.int64)

In [310]:
df_test['feature5'].fillna(df_test['feature5'].median(), inplace=True)

In [311]:
df_test['feature6'].fillna(df_test['feature6'].median(), inplace=True)

In [312]:
df_test['feature7'] = df_test['feature7'].str.lower()

In [313]:
df_test.loc[df_test['feature7'] == 'no', 'feature7'] = '0'
df_test.loc[df_test['feature7'] == 'n', 'feature7'] = '0'
df_test.loc[df_test['feature7'] == 'yes', 'feature7'] = '1'

In [314]:
df_test['feature7'].fillna('1', inplace=True)

In [315]:
df_test['feature7'] = df_test['feature7'].astype(np.int64)

In [316]:
df_test['feature8'].fillna(df_test['feature8'].median(), inplace=True)

In [317]:
df_test['feature9'].fillna(df_test['feature9'].median(), inplace=True)

In [318]:
df_test['feature10'].fillna(df_test['feature10'].median(), inplace=True)

In [319]:
test_predictions = model.predict(df_test)

In [320]:
print(test_predictions)

[1 1 0 0 1 0 0 0 1 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 1 1 0 1 1 0 1 1 0
 1 1 0 0 1 1 1 0 0 1 1 1 1 1 1 1 0 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 1 1 1 1 0
 1 1 0 1 1 0 1 0 0 0 0 1 1 1 1 1 1 1 1 0]