In [503]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [504]:
#open the training data
df_train = pd.read_csv('datasets/heart_training_data.csv')

In [505]:
df_train.head()

,age,sex,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,ID,target
0,58.0,NaN,2.0,105.0,240.0,0,0.0,154.0,1,0.6,1.0,0.0,253,1
1,60.0,0,3.0,150.0,240.0,0,1.0,171.0,0,0.9,2.0,0.0,333,1
2,67.0,0,0.0,106.0,223.0,NaN,1.0,142.0,0,0.3,2.0,2.0,496,1
3,29.0,m,1.0,130.0,204.0,0,0.0,202.0,0,0.0,2.0,0.0,446,1
4,35.0,1,0.0,126.0,282.0,0,0.0,156.0,1,0.0,2.0,0.0,289,0

In [506]:
#df_train.drop('ID', axis=1, inplace=True)

In [507]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        213 non-null    float64
 1   sex        211 non-null    object
 2   feature1   212 non-null    float64
 3   feature2   212 non-null    float64
 4   feature3   212 non-null    float64
 5   feature4   213 non-null    object
 6   feature5   211 non-null    float64
 7   feature6   211 non-null    float64
 8   feature7   213 non-null    object
 9   feature8   212 non-null    float64
 10  feature9   212 non-null    float64
 11  feature10  211 non-null    float64
 12  ID         219 non-null    int64
 13  target     219 non-null    int64
dtypes: float64(9), int64(2), object(3)
memory usage: 24.1+ KB

In [508]:
df_train.isnull().sum()

age          6
sex          8
feature1     7
feature2     7
feature3     7
feature4     6
feature5     8
feature6     8
feature7     6
feature8     7
feature9     7
feature10    8
ID           0
target       0
dtype: int64

In [509]:
#age column
df_train['age'].describe()

count    213.000000
mean      53.774648
std        9.249473
min       29.000000
25%       46.000000
50%       54.000000
75%       60.000000
max       77.000000
Name: age, dtype: float64

In [510]:
age_median = df_train['age'].median()
df_train['age'].fillna(age_median, inplace=True)

In [511]:
#gender column
df_train['sex'].value_counts()

1         136
0          69
male        2
m           2
female      1
f           1
Name: sex, dtype: int64

In [512]:
#df_train['sex'] = df_train['sex']

In [513]:
df_train.loc[df_train['sex'] == 'male', 'sex'] = '1'
df_train.loc[df_train['sex'] == 'm', 'sex'] = '1'
df_train.loc[df_train['sex'] == 'female', 'sex'] = '0'
df_train.loc[df_train['sex'] == 'f', 'sex'] = '0'

In [514]:
df_train['sex'].fillna(0, inplace=True)

df_train.loc[df_train['sex'] == '1', 'sex'] = 1
df_train.loc[df_train['sex'] == '0', 'sex'] = 0

In [515]:
df_train['sex'] = df_train['sex'].astype(np.int64)

In [516]:
#feature1
df_train['feature10'].describe()

count    211.000000
mean       0.658768
std        0.993865
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        4.000000
Name: feature10, dtype: float64

In [517]:
df_train.feature10.value_counts()

0.0    130
1.0     42
2.0     23
3.0     13
4.0      3
Name: feature10, dtype: int64

In [518]:
df_train['feature4'] = df_train['feature4'].str.lower()

In [519]:
df_train.loc[df_train['feature4'] == 'false', 'feature4'] = '0'
df_train.loc[df_train['feature4'] == 'f', 'feature4'] = '0'

In [520]:
df_train.loc[df_train['feature7'] == 'Yes', 'feature7'] = '1'
df_train.loc[df_train['feature7'] == 'Y', 'feature7'] = '1'
df_train.loc[df_train['feature7'] == 'N', 'feature7'] = '0'

In [521]:
#df_train[df_train['feature4']]
df_train.sample(10)

,age,sex,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,ID,target
68,62.0,0,0.0,140.0,268.0,NaN,0.0,160.0,0,3.6,0.0,2.0,969,0
98,63.0,1,3.0,145.0,233.0,1,0.0,150.0,0,2.3,0.0,0.0,641,1
22,60.0,1,2.0,140.0,185.0,0,0.0,155.0,0,3.0,1.0,0.0,705,0
186,68.0,1,0.0,144.0,193.0,1,1.0,141.0,0,3.4,1.0,2.0,920,0
74,67.0,0,2.0,115.0,564.0,0,0.0,160.0,0,1.6,1.0,0.0,381,1
197,51.0,1,0.0,NaN,299.0,0,1.0,173.0,1,1.6,2.0,0.0,183,0
26,46.0,1,2.0,150.0,231.0,0,1.0,147.0,0,3.6,1.0,0.0,489,0
1,60.0,0,3.0,150.0,240.0,0,1.0,171.0,0,0.9,2.0,0.0,333,1
62,43.0,0,2.0,122.0,213.0,0,1.0,165.0,0,0.2,1.0,0.0,295,1
111,65.0,1,3.0,138.0,282.0,1,0.0,174.0,0,1.4,1.0,1.0,915,0

In [522]:
df_train['feature1'].fillna(df_train['feature1'].median(), inplace=True)

In [523]:
df_train['feature2'].fillna(df_train['feature2'].median(), inplace=True)

In [524]:
df_train['feature3'].fillna(df_train['feature3'].median(), inplace=True)

In [525]:
df_train['feature4'].fillna('1', inplace=True)

In [526]:
df_train['feature4'] = df_train['feature4'].astype(np.int64)

In [527]:
df_train['feature5'].fillna(df_train['feature5'].mean(), inplace=True)

In [528]:
df_train['feature5'] = df_train['feature5'].astype(np.int64)

In [529]:
df_train['feature6'].fillna(df_train['feature6'].median(), inplace=True)

In [530]:
df_train['feature7'].fillna('1', inplace=True)

In [531]:
df_train['feature7'] = df_train['feature7'].astype(np.int64)

In [532]:
df_train['feature8'].fillna(df_train['feature8'].median(), inplace=True)

In [533]:
df_train['feature9'].fillna(df_train['feature9'].mean(), inplace=True)

In [534]:
df_train['feature10'].fillna(df_train['feature10'].median(), inplace=True)

In [535]:
features = df_train.drop('target', axis=1)
target = df_train['target']

In [536]:
features_train, features_valid, target_train, target_valid = train_test_split(features, target, 
                                                                              test_size=0.2, random_state=0)

In [537]:
print('Train set:',round(features_train.shape[0]/features.shape[0] * 100))
print('Valid set:', round(features_valid.shape[0]/features.shape[0] * 100))

Train set: 80
Valid set: 20

In [538]:
model = LogisticRegression(random_state=0, solver='liblinear')
model.fit(features_train, target_train)
valid_predictions = model.predict(features_valid)

In [539]:
accuracy= accuracy_score(target_valid, valid_predictions)
print(accuracy)

0.8409090909090909

In [540]:
print(valid_predictions)

[0 1 1 0 0 1 1 1 1 1 0 1 1 1 0 1 0 0 1 1 1 1 1 1 0 1 1 1 1 1 0 0 1 0 0 0 1
 0 1 1 1 0 0 1]

In [541]:
#opening test data
df_test = pd.read_csv('datasets/heart_test_data.csv')

In [542]:
df_test.head()

,age,sex,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,ID
0,44.0,1,2.0,140.0,235.0,0,0.0,180.0,0,0.0,2.0,0.0,531
1,57.0,1,2.0,150.0,168.0,0,1.0,174.0,0,1.6,2.0,0.0,636
2,59.0,1,0.0,110.0,239.0,0,0.0,142.0,NaN,1.2,1.0,1.0,884
3,64.0,NaN,0.0,128.0,263.0,0,1.0,105.0,1,0.2,1.0,1.0,266
4,71.0,0,2.0,110.0,265.0,NaN,0.0,130.0,NaN,0.0,2.0,1.0,900

In [543]:
#df_test.drop('ID', axis=1, inplace=True)

In [544]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        90 non-null     float64
 1   sex        91 non-null     object
 2   feature1   92 non-null     float64
 3   feature2   90 non-null     float64
 4   feature3   91 non-null     float64
 5   feature4   91 non-null     object
 6   feature5   91 non-null     float64
 7   feature6   91 non-null     float64
 8   feature7   90 non-null     object
 9   feature8   91 non-null     float64
 10  feature9   91 non-null     float64
 11  feature10  93 non-null     float64
 12  ID         94 non-null     int64
dtypes: float64(9), int64(1), object(3)
memory usage: 9.7+ KB

In [545]:
#age column
df_test['age'].describe()

count    90.000000
mean     55.300000
std       9.135005
min      34.000000
25%      48.250000
50%      57.000000
75%      62.000000
max      76.000000
Name: age, dtype: float64

In [546]:
df_test['age'].fillna(df_train['age'].median(), inplace=True)

In [547]:
#gender
df_test['sex'].value_counts()

1       62
0       26
m        2
male     1
Name: sex, dtype: int64

In [548]:
df_test.loc[df_test['sex'] == 'male', 'sex'] = '1'
df_test.loc[df_test['sex'] == 'm', 'sex'] = '1'

In [549]:
df_test['sex'].fillna(0, inplace=True)

In [550]:
df_test['sex'] = df_test['sex'].astype(np.int64)

In [551]:
df_test['feature1'].fillna(df_test['feature1'].median(), inplace=True)

In [552]:
df_test['feature2'].fillna(df_test['feature2'].median(), inplace=True)

In [553]:
df_test['feature3'].fillna(df_test['feature3'].median(), inplace=True)

In [554]:
df_test['feature8'].describe()

count    91.000000
mean      1.097802
std       1.264909
min       0.000000
25%       0.000000
50%       0.700000
75%       1.800000
max       6.200000
Name: feature8, dtype: float64

In [555]:
df_test['feature4'].value_counts()

0        77
1        10
false     2
FALSE     1
TRUE      1
Name: feature4, dtype: int64

In [556]:
df_test['feature4'] = df_test['feature4'].str.lower()

In [557]:
df_test.loc[df_test['feature4'] == 'false', 'feature4'] = '0'
df_test.loc[df_test['feature4'] == 'true', 'feature4'] = '1'

In [558]:
df_test['feature4'].fillna('1', inplace=True)

In [559]:
df_test['feature4'] = df_test['feature4'].astype(np.int64)

In [560]:
df_test['feature5'].fillna(df_test['feature5'].median(), inplace=True)

In [561]:
df_test['feature6'].fillna(df_test['feature6'].median(), inplace=True)

In [562]:
df_test['feature7'] = df_test['feature7'].str.lower()

In [563]:
df_test.loc[df_test['feature7'] == 'no', 'feature7'] = '0'
df_test.loc[df_test['feature7'] == 'n', 'feature7'] = '0'
df_test.loc[df_test['feature7'] == 'yes', 'feature7'] = '1'

In [564]:
df_test['feature7'].fillna('1', inplace=True)

In [565]:
df_test['feature7'] = df_test['feature7'].astype(np.int64)

In [566]:
df_test['feature8'].fillna(df_test['feature8'].median(), inplace=True)

In [567]:
df_test['feature9'].fillna(df_test['feature9'].median(), inplace=True)

In [568]:
df_test['feature10'].fillna(df_test['feature10'].median(), inplace=True)

In [569]:
#df_test.drop('ID', axis=1)

In [570]:
test_predictions = model.predict(df_test)

In [571]:
print(test_predictions)

[1 1 0 0 1 1 0 0 1 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 1 1 0 1 1 0 1 0 0
 1 1 0 0 1 1 1 0 0 1 1 1 1 1 1 1 0 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 1 1 1 1 0
 1 1 0 1 1 0 1 0 0 0 0 1 1 1 0 1 1 1 1 0]

In [572]:
predictions = pd.Series(test_predictions, name='pred')

In [573]:
df_test.head(), predictions.head()

(    age  sex  feature1  feature2  feature3  feature4  feature5  feature6  \
 0  44.0    1       2.0     140.0     235.0         0       0.0     180.0
 1  57.0    1       2.0     150.0     168.0         0       1.0     174.0
 2  59.0    1       0.0     110.0     239.0         0       0.0     142.0
 3  64.0    0       0.0     128.0     263.0         0       1.0     105.0
 4  71.0    0       2.0     110.0     265.0         1       0.0     130.0

    feature7  feature8  feature9  feature10   ID
 0         0       0.0       2.0        0.0  531
 1         0       1.6       2.0        0.0  636
 2         1       1.2       1.0        1.0  884
 3         1       0.2       1.0        1.0  266
 4         1       0.0       2.0        1.0  900  ,
 0    1
 1    1
 2    0
 3    0
 4    1
 Name: pred, dtype: int64)

In [574]:
df_predicted = pd.merge(df_test, predictions, on=df_test.index)

In [575]:
df_predicted.head()

,key_0,age,sex,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,ID,pred
0,0,44.0,1,2.0,140.0,235.0,0,0.0,180.0,0,0.0,2.0,0.0,531,1
1,1,57.0,1,2.0,150.0,168.0,0,1.0,174.0,0,1.6,2.0,0.0,636,1
2,2,59.0,1,0.0,110.0,239.0,0,0.0,142.0,1,1.2,1.0,1.0,884,0
3,3,64.0,0,0.0,128.0,263.0,0,1.0,105.0,1,0.2,1.0,1.0,266,0
4,4,71.0,0,2.0,110.0,265.0,1,0.0,130.0,1,0.0,2.0,1.0,900,1

In [576]:
df_predicted[df_predicted['ID'] == 946]

,key_0,age,sex,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,ID,pred
20,20,52.0,1,1.0,120.0,325.0,0,1.0,172.0,0,0.2,2.0,0.0,946,1

In [577]:
df_predicted[df_predicted['ID'] == 637]

,key_0,age,sex,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,ID,pred
47,47,45.0,1,3.0,110.0,264.0,0,1.0,132.0,1,1.2,1.0,0.0,637,1

In [578]:
df_predicted[df_predicted['ID'] == 688]

,key_0,age,sex,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,ID,pred
75,75,42.0,1,0.0,140.0,226.0,0,1.0,178.0,0,0.0,1.0,0.0,688,1

In [579]:
df_predicted[df_predicted['ID'] == 831]

,key_0,age,sex,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,ID,pred
8,8,63.0,0,0.0,124.0,197.0,0,1.0,136.0,1,0.0,1.0,0.0,831,1