In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datasets/Worldometers_data.csv')

In [43]:
df.sample(10)

,Country,Total_Cases,New_Cases,Total_Deaths,New_Deaths,Recovered,Active,Serious_Critical,Tot Cases/1M pop,Deaths/1 M pop,Tests,Tests/1Mpop
121,Djibouti,135,0,0,0,25,110,0,137,0,3106,3144
17,Russia,10131,1459,76,13,698,9357,8,69,0.5,1004719,6885
10,Switzerland,24046,766,948,53,10600,12498,386,2778,110,178500,20625
85,Afghanistan,484,40,15,1,32,437,0,12,0.4,0,0
138,Congo,60,15,5,0,5,50,0,11,0.9,0,0
16,S. Korea,10423,39,204,4,6973,3246,55,203,4,477304,9310
149,Guinea-Bissau,36,3,0,0,0,36,0,18,0,1500,762
155,Benin,26,0,1,0,5,20,0,2,0.08,0,0
99,Mauritius,314,41,7,0,23,284,3,247,6,4913,3863
13,Brazil,16474,286,839,19,173,15462,296,78,4,63000,296

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           211 non-null    object
 1   Total_Cases       211 non-null    float64
 2   New_Cases         211 non-null    float64
 3   Total_Deaths      211 non-null    float64
 4   New_Deaths        211 non-null    float64
 5   Recovered         211 non-null    float64
 6   Active            211 non-null    float64
 7   Serious_Critical  211 non-null    float64
 8   Tot Cases/1M pop  211 non-null    float64
 9   Deaths/1 M pop    211 non-null    float64
 10  Tests             211 non-null    float64
 11  Tests/1Mpop       211 non-null    float64
dtypes: float64(11), object(1)
memory usage: 19.9+ KB

In [9]:
df.fillna('0', inplace=True)

In [39]:
columns = df.columns[1 :]
for col in columns:
    df[col] = df[col].str.replace(',', '')

In [38]:
columns

Index(['Total_Cases', 'New_Cases', 'Total_Deaths', 'New_Deaths', 'Recovered',
       'Active', 'Serious_Critical', 'Tot Cases/1M pop', 'Deaths/1 M pop',
       'Tests', 'Tests/1Mpop'],
      dtype='object')

In [19]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [46]:
for col in columns:
    df[col] = df[col].astype(float)

In [45]:
help(df.astype)

Help on method astype in module pandas.core.generic:

astype(dtype, copy: bool = True, errors: str = 'raise') -> ~FrameOrSeries method of pandas.core.frame.DataFrame instance
    Cast a pandas object to a specified dtype ``dtype``.

    Parameters
    ----------
    dtype : data type, or dict of column name -> data type
        Use a numpy.dtype or Python type to cast entire pandas object to
        the same type. Alternatively, use {col: dtype, ...}, where col is a
        column label and dtype is a numpy.dtype or Python type to cast one
        or more of the DataFrame's columns to column-specific types.
    copy : bool, default True
        Return a copy when ``copy=True`` (be very careful setting
        ``copy=False`` as changes to values then may propagate to other
        pandas objects).
    errors : {'raise', 'ignore'}, default 'raise'
        Control raising of exceptions on invalid data for provided dtype.

        - ``raise`` : allow exceptions to be raised
        - ``ignore`` : suppress exceptions. On error return original object.

    Returns
    -------
    casted : same type as caller

    See Also
    --------
    to_datetime : Convert argument to datetime.
    to_timedelta : Convert argument to timedelta.
    to_numeric : Convert argument to a numeric type.
    numpy.ndarray.astype : Cast a numpy array to a specified type.

    Examples
    --------
    Create a DataFrame:

    >>> d = {'col1': [1, 2], 'col2': [3, 4]}
    >>> df = pd.DataFrame(data=d)
    >>> df.dtypes
    col1    int64
    col2    int64
    dtype: object

    Cast all columns to int32:

    >>> df.astype('int32').dtypes
    col1    int32
    col2    int32
    dtype: object

    Cast col1 to int32 using a dictionary:

    >>> df.astype({'col1': 'int32'}).dtypes
    col1    int32
    col2    int64
    dtype: object

    Create a series:

    >>> ser = pd.Series([1, 2], dtype='int32')
    >>> ser
    0    1
    1    2
    dtype: int32
    >>> ser.astype('int64')
    0    1
    1    2
    dtype: int64

    Convert to categorical type:

    >>> ser.astype('category')
    0    1
    1    2
    dtype: category
    Categories (2, int64): [1, 2]

    Convert to ordered categorical type with custom ordering:

    >>> cat_dtype = pd.api.types.CategoricalDtype(
    ...     categories=[2, 1], ordered=True)
    >>> ser.astype(cat_dtype)
    0    1
    1    2
    dtype: category
    Categories (2, int64): [2 < 1]

    Note that using ``copy=False`` and changing data on a new
    pandas object may propagate changes:

    >>> s1 = pd.Series([1, 2])
    >>> s2 = s1.astype('int64', copy=False)
    >>> s2[0] = 10
    >>> s1  # note that s1[0] has changed too
    0    10
    1     2
    dtype: int64

In [48]:
df['Total_Deaths'].sum()

93617.0

In [49]:
total = 0
for col in columns:
    total += df[col].sum()
print(total)

16570380.27