In [55]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [56]:
whr_15 = pd.read_csv('datasets/2015.csv')
whr_16 = pd.read_csv('datasets/2016.csv')
whr_17 = pd.read_csv('datasets/2017.csv')
whr_18 = pd.read_csv('datasets/2018.csv')
whr_19 = pd.read_csv('datasets/2019.csv')

In [57]:
whr_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [58]:
whr_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

In [59]:
whr_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [60]:
#region, whisker high, whisker low, lower ci, upper ci,

In [61]:
whr_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [62]:
whr_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

I will drop the columns that are not consistent in all datasets.

In [63]:
whr_15.drop(['Standard Error', 'Region', 'Dystopia Residual'], axis=1, inplace=True)

whr_16.drop(['Lower Confidence Interval', 'Upper Confidence Interval', 'Region', 'Dystopia Residual'], axis=1, inplace=True)

whr_17.drop(columns=['Whisker.high', 'Whisker.low', 'Dystopia.Residual'], inplace=True)

In [64]:
whr_18.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       1
dtype: int64

In [65]:
med = whr_18['Perceptions of corruption'].median()
print(med)
whr_18['Perceptions of corruption'].fillna(med, inplace=True)

0.08199999999999999

#create year column
whr_15['Year'] = '2015'
whr_16['Year'] = '2016'
whr_17['Year'] = '2017'
whr_18['Year'] = '2018'
whr_19['Year'] = '2019'

I will rearrange the order of the columns using the 2018 and 2019 format.

In [66]:
whr_15 = whr_15[['Happiness Rank', 'Country', 'Happiness Score', 'Economy (GDP per Capita)', 
                 'Family', 'Health (Life Expectancy)', 'Freedom','Generosity', 'Trust (Government Corruption)']]
whr_16 = whr_16[['Happiness Rank', 'Country', 'Happiness Score', 'Economy (GDP per Capita)', 
                 'Family', 'Health (Life Expectancy)', 'Freedom','Generosity', 'Trust (Government Corruption)']]
whr_17 = whr_17[['Happiness.Rank', 'Country', 'Happiness.Score', 'Economy..GDP.per.Capita.', 
                 'Family', 'Health..Life.Expectancy.', 'Freedom','Generosity', 'Trust..Government.Corruption.']]

Renaming the columns

In [67]:
new_cols = ['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita', 'Social Support', 
            'Healthy Life Expectancy', 'Freedom to Make Life Choices', 'Generosity', 'Perceptions of Corruption']

In [68]:
data = [whr_15, whr_16, whr_17, whr_18, whr_19]
for each in data:
    each.columns = new_cols
    print(each.columns)

Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social Support', 'Healthy Life Expectancy',
       'Freedom to Make Life Choices', 'Generosity',
       'Perceptions of Corruption'],
      dtype='object')
Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social Support', 'Healthy Life Expectancy',
       'Freedom to Make Life Choices', 'Generosity',
       'Perceptions of Corruption'],
      dtype='object')
Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social Support', 'Healthy Life Expectancy',
       'Freedom to Make Life Choices', 'Generosity',
       'Perceptions of Corruption'],
      dtype='object')
Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social Support', 'Healthy Life Expectancy',
       'Freedom to Make Life Choices', 'Generosity',
       'Perceptions of Corruption'],
      dtype='object')
Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social Support', 'Healthy Life Expectancy',
       'Freedom to Make Life Choices', 'Generosity',
       'Perceptions of Corruption'],
      dtype='object')

In [69]:
for each in data:
    print(each.columns)

Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social Support', 'Healthy Life Expectancy',
       'Freedom to Make Life Choices', 'Generosity',
       'Perceptions of Corruption'],
      dtype='object')
Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social Support', 'Healthy Life Expectancy',
       'Freedom to Make Life Choices', 'Generosity',
       'Perceptions of Corruption'],
      dtype='object')
Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social Support', 'Healthy Life Expectancy',
       'Freedom to Make Life Choices', 'Generosity',
       'Perceptions of Corruption'],
      dtype='object')
Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social Support', 'Healthy Life Expectancy',
       'Freedom to Make Life Choices', 'Generosity',
       'Perceptions of Corruption'],
      dtype='object')
Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social Support', 'Healthy Life Expectancy',
       'Freedom to Make Life Choices', 'Generosity',
       'Perceptions of Corruption'],
      dtype='object')

In [70]:
whr_19[whr_19['Country'] == 'Kenya']

,Happiness Rank,Country,Happiness Score,GDP per capita,Social Support,Healthy Life Expectancy,Freedom to Make Life Choices,Generosity,Perceptions of Corruption
120,121,Kenya,4.509,0.512,0.983,0.581,0.431,0.372,0.053

In [71]:
#concatenate all the data
whr = pd.concat(data)
whr.sample(20)

,Happiness Rank,Country,Happiness Score,GDP per capita,Social Support,Healthy Life Expectancy,Freedom to Make Life Choices,Generosity,Perceptions of Corruption
3,4,Norway,7.522,1.459000,1.330950,0.88521,0.669730,0.346990,0.365030
10,11,Israel,7.278,1.228570,1.223930,0.91387,0.413190,0.331720,0.077850
26,27,Chile,6.670,1.107150,1.124470,0.85857,0.441320,0.333630,0.128690
140,141,Uganda,3.931,0.211020,1.132990,0.33861,0.457270,0.290660,0.072670
56,57,Poland,5.835,1.245850,1.046850,0.69058,0.451900,0.144430,0.055000
69,70,Serbia,5.603,1.004000,1.383000,0.85400,0.282000,0.137000,0.039000
18,19,Belgium,6.937,1.307820,1.285660,0.89667,0.584500,0.222500,0.225400
139,140,Cambodia,3.907,0.556040,0.537500,0.42494,0.588520,0.403390,0.080920
98,99,Ivory Coast,4.944,0.569000,0.808000,0.23200,0.352000,0.154000,0.090000
25,26,Taiwan,6.441,1.365000,1.436000,0.85700,0.418000,0.151000,0.078000
114,115,Zimbabwe,4.610,0.271000,1.032760,0.33475,0.258610,0.189870,0.080790
122,123,Mozambique,4.466,0.204000,0.986000,0.39000,0.494000,0.197000,0.138000
51,52,Lithuania,5.902,1.314582,1.473516,0.62895,0.234232,0.010165,0.011866
137,138,Zambia,4.107,0.578000,1.058000,0.42600,0.431000,0.247000,0.087000
37,38,Slovakia,6.198,1.246000,1.504000,0.88100,0.334000,0.121000,0.014000
27,28,Qatar,6.611,1.690420,1.078600,0.79733,0.640400,0.325730,0.522080
36,37,Spain,6.361,1.342530,1.129450,0.87896,0.375450,0.176650,0.061370
78,79,Bhutan,5.253,0.770420,1.103950,0.57407,0.532060,0.479980,0.154450
41,42,Poland,6.123,1.176000,1.448000,0.78100,0.546000,0.108000,0.064000
34,35,El Salvador,6.253,0.794000,1.242000,0.78900,0.430000,0.093000,0.074000

In [72]:
whr.isnull().sum()

Happiness Rank                  0
Country                         0
Happiness Score                 0
GDP per capita                  0
Social Support                  0
Healthy Life Expectancy         0
Freedom to Make Life Choices    0
Generosity                      0
Perceptions of Corruption       0
dtype: int64

In [73]:
whr.duplicated().sum()

0