In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datasets/Worldometers_data.csv')

In [22]:
df.sample(10)

,Country,Total_Cases,New_Cases,Total_Deaths,New_Deaths,Recovered,Active,Serious_Critical,Tot Cases/1M pop,Deaths/1 M pop,Tests,Tests/1Mpop
48,Singapore,1910.0,287.0,6.0,0.0,460.0,1444.0,29.0,326.0,1.0,65000.0,11110.0
86,Oman,457.0,38.0,3.0,1.0,109.0,345.0,3.0,89.0,0.6,0.0,0.0
189,Turks and Caicos,8.0,0.0,1.0,0.0,0.0,7.0,0.0,207.0,26.0,61.0,1576.0
65,Lithuania,955.0,43.0,16.0,1.0,8.0,931.0,21.0,351.0,6.0,32809.0,12052.0
194,Mauritania,7.0,1.0,1.0,0.0,2.0,4.0,0.0,2.0,0.2,67.0,14.0
20,India,6653.0,737.0,199.0,21.0,602.0,5852.0,0.0,5.0,0.1,167235.0,121.0
119,Guadeloupe,141.0,0.0,8.0,0.0,43.0,90.0,13.0,352.0,20.0,0.0,0.0
203,Anguilla,3.0,0.0,0.0,0.0,0.0,3.0,0.0,200.0,0.0,0.0,0.0
185,Belize,9.0,1.0,1.0,0.0,0.0,8.0,1.0,23.0,3.0,364.0,915.0
55,Belarus,1486.0,420.0,16.0,3.0,139.0,1331.0,55.0,157.0,2.0,49000.0,5186.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           211 non-null    object
 1   Total_Cases       211 non-null    object
 2   New_Cases         117 non-null    object
 3   Total_Deaths      160 non-null    object
 4   New_Deaths        71 non-null     object
 5   Recovered         180 non-null    object
 6   Active            211 non-null    object
 7   Serious_Critical  127 non-null    object
 8   Tot Cases/1M pop  209 non-null    object
 9   Deaths/1 M pop    158 non-null    object
 10  Tests             151 non-null    object
 11  Tests/1Mpop       151 non-null    object
dtypes: object(12)
memory usage: 19.9+ KB

In [5]:
df.fillna('0', inplace=True)

In [6]:
columns = df.columns[1 :]
for col in columns:
    df[col] = df[col].str.replace(',', '')

In [7]:
columns

Index(['Total_Cases', 'New_Cases', 'Total_Deaths', 'New_Deaths', 'Recovered',
       'Active', 'Serious_Critical', 'Tot Cases/1M pop', 'Deaths/1 M pop',
       'Tests', 'Tests/1Mpop'],
      dtype='object')

In [8]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [9]:
for col in columns:
    df[col] = df[col].astype(float)

In [14]:
#help(df.astype)

In [11]:
df['Total_Deaths'].sum()

93617.0

In [12]:
total = 0
for col in columns:
    total += df[col].sum()
print(total)

16570380.27

In [21]:
cols_sum = [df[col].sum() for col in columns]
total_1 = pd.Series(cols_sum).sum()
total_1

16570380.27